@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quill CSS */

.ql-toolbar.ql-snow {
  border: none !important;
  border-bottom: 1px solid #e5e7eb !important;
}

.ql-container.ql-snow {
  border: none !important;
}
